

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root{
  --color-base: #2f2623;
  --color-highlight: #efaf65;
  --color-alt: #59d1c3;
  --color-text: hsl(0, 0%, 100%);
  --width-cont: 1800px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
}

html {
    /* font-family: 'Nunito', sans-serif; */
    font-size: 22px;
    color: #fff;
}

body {
    /* min-height: 100vh; */
    background-color: var(--color-base);
    background-image: 
      linear-gradient(0deg, rgba(34, 32, 9, 0.842), rgba(36, 13, 7, 0.863)),
      url("../public/tile/connectwork.webp");
    background-repeat: repeat;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, svg, p{
  color: white;
}


.body-container{
  width: 100%;
}
::-webkit-scrollbar {
  width: 10px; 
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh;  */
}

.innerbody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh; 
}

section {
    width: 100%;
    max-width: var(--width-cont);
    min-height: 400px;
    margin: 0 auto;
    border-bottom: solid rgba(0, 0, 0, 0.192) 1px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: var(--color-base);
}
section.posts{
  background-color: var(--color-highlight);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

a, a:visited {
    color: var(--color-highlight);
    text-decoration: none;
}
a:hover{
  color: var(--color-alt);
}

input[type="text"],
input[type="password"],
button,
.process__upload-btn,
textarea {
  /* font-family: 'Nunito', sans-serif; */
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  z-index: 100;
  cursor: pointer;
}
/* input{
  background-color: rgba(255, 255, 255, 0.786);
} */
input:hover, textarea:hover{
  background-color: rgba(255, 255, 255, 0.221) !important;
}
input.color{
  cursor: pointer;
  background-color: #ffffff8e;
}
input.color:hover{
  cursor: pointer;
  background-color: #ffffff;
}

label,
button {
  margin-top: 1rem;
}

button,
.process__upload-btn {
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: solid var(--color-highlight) 3px;
  background: rgb(0,0,0);
background: linear-gradient(300deg, rgb(208, 208, 208) 0%, rgb(239, 239, 239) 51%, rgba(255,255,255,1) 100%);
}
button:hover,
.process__upload-btn:hover{
  background-color: var(--color-highlight);
  color: var(--color-highlight);
  border: solid black 3px;
  /* border-bottom: solid var(--color-highlight) 3px; */
}

li {
    list-style-type: none;
}
form.popUp{
  /* outline: solid blue 3px; */
  max-width: 20rem;
  overflow-wrap: break-word;
}
form.popUpk svg{
  margin-left: 1rem;
}

/* .instructions { */
  .instructions{
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: rgba(0, 0, 0, 0.581);
    color: #fff;
    padding: 0.25rem;
    /* position: relative; */
    border-bottom: solid red 3px;
    bottom: -10px;
    width: 100%;
    /* overflow-wrap: break-word; */
}

.instructions > svg {
  font-size: 20px;
  margin-right: 0.25rem;
}

.offscreen {
    /* position: absolute; */
    left: -9999px;
    /* display: none; */
    opacity: 0;
    height: 0;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.loadingicon{
  font-size: 5rem;
  color: whitesmoke;
  filter: drop-shadow(rgba(0, 0, 0, 0.502) 1px 4px 3px);
  animation: spin 1s linear 2s infinite forwards;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

ul{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  /* border-bottom: black dotted 1px; */
}

.createPost{
  background-color: white;
  border: solid var(--color-highlight) 3px;
  border-radius: 50px;
  padding: .1rem 1rem;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;

  text-decoration: none;
  width: 10rem;
  transition: .2s;
}

.createPost:hover{
  background-color: var(--color-alt);
  color: white;
  border: dashed white 3px;
}
.createPost:hover span, .createPost:hover svg {
  color: white;
}
.createPost span{
  color: var(--color-base);
  margin-left: .7rem;
}
.createPost svg{
  color: var(--color-base);
}

.editMe{
  border: solid var(--color-highlight) 1px;
      padding: .6rem;
      border-radius: 10px;
}
.editMe:hover, editMe:focus{
  background-color: white;
  color: var(--color-alt);
  outline: solid var(--color-alt) 1px;
}

.peaceOut{
  font-size: 10rem;
  margin: 3rem;
  transform: scaleX(-1.0);
  animation: peaceOutWave 2.5s infinite ease-in-out;
  filter: drop-shadow(2px 2px 1px black);
}

@keyframes peaceOutWave {
  0%{
    transform: scaleX(0);
    transform: translateY(20px);
  }
  33% {
    transform: scaleX(-1.0);
  }
  80% {
    transform: scaleX(1.0);
    transform: translateY(20px);
    transform: rotateZ(20deg);
  }
  100% {
    transform: scaleX(0);
  }
}

.btn{
  background-color: white;
  max-width: 15rem;
  margin-bottom: 1rem;
  border: solid var(--color-highlight) 2px;
  border-bottom: solid var(--color-highlight) 2px;
}
.btnDelete{
  color: red;
  margin-right: 1rem;
}
.btnDelete:hover{
  background-color: red;
  color: white;
}

.homies{
  color: #b32aa866;
  font-size: 80px;
}

/* fileupload style */
/* fileupload style */
/* fileupload style */
.main-container {
  padding: 3rem;
  background-color: rgb(55, 44, 58);
}

.main-heading {
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.image-container {
  border-radius: 1rem;
  padding: 1.5rem;
}

.process {
  background-color: rgb(128, 128, 128);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.process__heading {
  text-transform: uppercase;
  text-align: center;
  color: black;
}

.process__details {
  text-align: center;
}

.process__upload-btn {
  display: block;
  margin: 2.5rem auto;
  text-align: center;
}

.process__image {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

.main-credit {
  text-align: center;
  color: white;
  font-weight: bold;
}

/* slide style */
.slide-0{
  border-radius: 20px;
  padding: 1rem;
}
.slide-0 .meta-data{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.514);
  margin: 0;
  padding: 0;
}

/* DROP ZONE */
.dropzone {
  text-align: center;
  padding: 30px;
  background-color: #fafafa4c;
  border: 3px dashed #eeeeee;
  color: #bdbdbd;
  cursor: pointer;
  margin-bottom: 20px;
}
.dropzone:hover{
  background-color: #fafafa7b;
  border: 3px dotted #5b2e13;
}
.selected-file-wrapper {
  text-align: center;
}
.selected-file {
  color: #000; 
  font-weight: bold;
}




/* interactive slider */
/* .slider{
  /* position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100vw;
  height: 100vh; */
  /* border: dashed white 2px; */

  
.slider-list{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw;
  height: 100vh; */
  /* border: dotted white 2px; */
}

.right-arrow{
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 3rem;
  color: hsla(0, 0%, 51%, 0.566);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 3rem;
  color: hsla(0, 0%, 50%, 0.629);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.slide{
  /* opacity: 1; */
  transition-duration: 1s ease;
  transform: scale(1.3);
  
}
.slide.active{
  /* opacity: 1; */
  transition-duration: 1s;
  transform: scale(1.0);
}
/* interactive slider END*/


.slidecreator{
  border: dotted white 1px;
  display: flex;
}

/* * CollectionEditor */
.collectionEditor .deleteBtn{
  margin: 0 0 .2rem 0;
  padding: 0 .2rem;
}